@import "input-checkbox";
@import "input-switch";
@import "input-radio";
@import "select";
@import "input";
@import "input-file";
@import "input-range";
@import "input-error";
// @import "input-date";

.form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    grid-gap: 20px;

    width: 100%;
    max-width: 600px;

    &-fr1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        grid-gap: 20px;

        width: 100%;
        height: max-content;
    }

    &-fr2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        grid-gap: 20px;

        width: 100%;
        height: max-content;

        @include _600 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-fr3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-gap: 20px;

        width: 100%;
        height: max-content;

        @include _600 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
