// inputs
.input {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;
    transition: 0.3s all ease;

    &__label {
        margin-bottom: 10px;
        font-size: 18px;
    }

    & input,
    & textarea {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 20px 20px;

        outline: none;
        border: 1px solid rgba($black, 0.1);

        background: transparent;

        color: $black;
        font-size: 16px;

        transition: 0.3s all ease;

        &::placeholder {
            color: $black;
        }

        &:focus,
        &.active {
            border-color: #000 !important;

            & .input__fake-field-icon {
                transform: rotate(90deg);
            }
        }
    }

    & textarea {
        height: 195px;
        resize: none;
    }
}

.rage-slider {
    width: 100%;
}

#slider-round {
    height: 10px;

    & .noUi-handle {
        top: -12px;
        right: -15px;
        border: none;
        box-shadow: none;

        background: transparent;
        width: 30px;
        height: 30px;

        &::before,
        &::after {
            display: none;
        }
    }

    & .noUi-touch-area {
        border-radius: 50%;
        background: $calm;
        border: 4px solid $white;

        cursor: pointer;

        box-shadow: 0 5px 10px rgba($black, 0.5);
    }

    & .noUi-connect {
        background: $calm;
    }

    & .noUi-tooltip {
        bottom: 30px;
    }
}
