<!-- чекбокс -->
<div class="checkbox">
    <label class="checkbox__label">
        <input class="checkbox__input" type="checkbox">

        <span class="checkbox__content">
            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0806 0L5.75806 9.20833L1.91935 5.41667L0 7.3125L5.75806 13L17 1.89583L15.0806 0Z" fill="white" />
            </svg>
        </span>

        <p>Выбрать</p>
    </label>
</div>

<!-- чекбокс принятия -->
<div class="checkbox">
    <label class="checkbox__label">
        <input class="checkbox__input consent_check-js" type="checkbox">

        <span class="checkbox__content">
            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0806 0L5.75806 9.20833L1.91935 5.41667L0 7.3125L5.75806 13L17 1.89583L15.0806 0Z" fill="white" />
            </svg>
        </span>

        <p>Принять</p>
    </label>
</div>

<!-- свитч -->
<div class="switch">
    <label class="switch__label">
        <input class="switch__input" type="checkbox">
        <span class="switch__content"></span>
    </label>
</div>

<!-- радио -->
<div class="radio">
    <label class="radio__label">
        <input class="radio__input" type="radio" name="radioInput" checked>
        <span class="radio__round"></span>

        <p>Радио</p>
    </label>
</div>

<!-- инпут -->
<div class="input">
    <label class="input__label" for="">Label</label>
    <input class="input__field" type="text" placeholder="Имя" data-empty="Обязательно для заполнения">
</div>

<!-- инпут телефон -->
<div class="input">
    <label class="input__label" for="">Label</label>
    <input class="input__field" type="phone" placeholder="Телефон" data-empty="Обязательно для заполнения">
</div>

<!-- ипут эмейл -->
<div class="input">
    <label class="input__label" for="">Label</label>
    <input class="input__field input-mail_js" type="text" placeholder="E-mai" data-empty="Обязательно для заполнения" data-mail="Введите E-mail корректно">
</div>

<!-- файл -->
<div class="file">
    <label class="file__label">
        <input class="file__input" type="file" data-type="pdf" data-error-type="Только PDF файлы" data-size="Файл не должен превышать 10мб">
        <p>Выберите файл</p>
    </label>
</div>

<!-- текстареа -->
<div class="input">
    <label class="input__label" for="">Label</label>
    <textarea class="input__textarea input__field" type="Коментарий" placeholder="Field4" data-empty="Обязательно для заполнения"></textarea>
</div>

<!-- селект -->
<div class="select-custom select-custom_js">
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>

<!-- форма с валидацией пример -->
<form class="form valid_js" action="https://yubor.lifestyle.uz/ajax-feedback" id="vacancy">
    <div class="form-fr3"></div>
    <div class="form-fr2"></div>
    <div class="form-fr1"></div>

    <button class="btn-black" type="submit">Submit</button>
</form>