<form class="form" method="POST" id="feedback" data-lang="ru">

    <div class="input">
        <label class="input__label" for="">Label</label>
        <input class="input__field" type="text" inputmode="tel" placeholder="Телефон">
    </div>

    <div class="input">
        <label class="input__label" for="">Label</label>
        <input class="input__field" type="text" placeholder="Текст" name="name">
    </div>

    <div class="input">
        <label class="input__label" for="">Label</label>
        <input class="input__field" type="text" placeholder="Текст">
    </div>

    <div class="input">
        <label class="input__label" for="">Label</label>
        <input class="input__field" type="text" inputmode="email" placeholder="E-mail" name="email">
    </div>

    <div class="input">
        <label class="input__label" for="">Label</label>
        <input class="input__field" type="text" inputmode="email" placeholder="E-mail">
    </div>

    <div class="checkbox">
        <label class="checkbox__label">
            <input class="checkbox__input" type="checkbox">

            <span class="checkbox__content">
                <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.0806 0L5.75806 9.20833L1.91935 5.41667L0
                        7.3125L5.75806 13L17 1.89583L15.0806 0Z" fill="white" />
                </svg>
            </span>

            <p>Выбрать</p>
        </label>
    </div>

    <div class="checkbox">
        <label class="checkbox__label">
            <input class="checkbox__input" type="checkbox">

            <span class="checkbox__content">
                <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.0806 0L5.75806 9.20833L1.91935 5.41667L0
                            7.3125L5.75806 13L17 1.89583L15.0806 0Z" fill="white" />
                </svg>
            </span>

            <p>Выбрать</p>
        </label>
    </div>

    <button class="btn-black" type="submit">Submit</button>
</form>